.Create-opinion-header{
    color:#FFA629;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.create-opinion-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Opinion-submit-button{
     margin:1rem 0rem 15rem 0rem;
     border-radius: 6px;
     padding:9px;
     outline: none;
     background-color: #FFA629;
}
.create-opinion-submit-form{
    display:flex;
    flex-direction:column;
    
}
.create-opinion-textarea{
   background-color: white;
   line-height: 2.5;
   outline:none;
   border:none;
   color: #495057;
   padding-left: 9px; 
}
.Opinion-submit-button:hover{
    background-color: #ce7800;
    transition: background-color 0.5s ease-in-out;
}