main.app > main section {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

main.app > main h1 {
    margin-bottom: 1rem;
    color: #FFA629;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.85rem;
}

ul.opinions-list {
    list-style: none;
    padding: 1.5rem;
    gap: 3rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

ul.opinions-list li {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
}

ul.topics-list {
    list-style: none;
    gap: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  main.app > section {
      width: 100%;
      padding: 1rem;
      max-width: 800px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  main.app > section h1 {
    margin-bottom: 1rem;
    color: #FFA629;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main.app h3 {
    margin-bottom: 0.75rem;
    color: #FFA629;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.aside-section {
    background-color: white;
    border-radius: 12px;
}