article.opinion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article.opinion p.opiniondata {
    font-size: 0.75rem;
}

ul.opinion-list {
    padding: 1rem;
}
.view-button{
  border: 1px solid #FFA629;
  padding: .5rem;
  background-color: #FFA629;
  color: #343a40;
  border-radius: 6px;
}

.delete-button{
  padding: .6rem;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
.opinion-actions{
    gap: 16px;
}