  .Update-user-header{
    color:#FFA629;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .Update-user-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Update-user-input{
    background-color: white;
    line-height: 2;
    outline:none;
    border:none;
    color: #495057;
    padding-left: 9px;
  }
  .Update-user-button{
    margin:1rem 0rem 15rem 0rem;
    border-radius: 6px;
    padding:9px;
    outline: none;
    background-color: #FFA629;
    border: none;
    color: #343a40;
    font-size: 1rem;
  }
  .Update-user-button:hover{
      background-color: #ce7800;
      transition: background-color 0.5s ease-in-out;
  
  }
.Update-user-onsubmit-form{
    display:flex;
    flex-direction:column;
}
.Update-user-onsubmit-form fieldset{
  border-radius: 3px;
}